USE [QLKhachsan]
GO
/****** Object:  DatabaseRole [ND]    Script Date: 04/09/2020 9:01:34 AM ******/
CREATE ROLE [ND]
GO
ALTER ROLE [db_owner] ADD MEMBER [ND]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ND]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ND]
GO
/****** Object:  StoredProcedure [dbo].[KTMANV]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[KTMANV]
@manv nchar(10)
AS
BEGIN
SELECT *FROM Nhanvien where @manv=MaNV
END

GO
/****** Object:  StoredProcedure [dbo].[LOADDEVICEROOM]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LOADDEVICEROOM]
@number bigint
AS
BEGIN
select Sophong,TenTB,Soluong,Tinhtrang,Ghichu from Thietbi where Sophong=@number
END

GO
/****** Object:  StoredProcedure [dbo].[LOADROOMID]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LOADROOMID] 
@Number int
AS
BEGIN
	SELECT Sophong,Tinhtrang,Loaiphong from Phong where Sophong=@Number
END

GO
/****** Object:  StoredProcedure [dbo].[LOADROOMRANH]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LOADROOMRANH] 
@loaip nvarchar(50)
AS
BEGIN
select Sophong,Tinhtrang,Loaiphong,Ghichu from Phong where Tinhtrang=N'Sẵn sàng' and Loaiphong=@loaip
END

GO
/****** Object:  StoredProcedure [dbo].[LuuHoaDon]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LuuHoaDon] 
@tienphong float,@tiendv float,@vat float,@khuyemai float,@ngaylap datetime,@IDdat bigint
AS
BEGIN
INSERT INTO Hoadon(Tienphong,Tiendichvu,VAT,Khuyenmai,Ngaylap,IDDAT) VALUES(@tienphong,@tiendv,@vat,@khuyemai,@ngaylap,@IDdat)
END

GO
/****** Object:  StoredProcedure [dbo].[SEARCHUSER]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SEARCHUSER] 
@hoten nvarchar(50)
AS
BEGIN
	SELECT * FROM Nhanvien where Hoten=@hoten
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CTDATDV]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CTDATDV]
@idhd bigint 
AS
BEGIN
	SELECT IDDV,IDDAT,Soluong FROM Chitietdatdichvu WHERE @idhd=IDDAT
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CTDATPHONG]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CTDATPHONG]
@idhd bigint
AS
BEGIN
	SELECT Sophong,IDDAT,Ngayden,Ngaydi FROM Chitietdatphong WHERE @idhd=IDDAT
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LOGIN] 
@accout nvarchar(50),@password nvarchar(50)
AS
BEGIN
select TaiKhoan.MaNV,Nhanvien.Hoten,TaiKhoan.Nhom from TaiKhoan,Nhanvien where TaiKhoan.Taikhoan=@accout and TaiKhoan.Matkhau=@password and TaiKhoan.MaNV=Nhanvien.MaNV
END

GO
/****** Object:  StoredProcedure [dbo].[SP_THEMDAT]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_THEMDAT]
@ngaylap nvarchar(50),@manv nchar(10),@cmt nvarchar(50),@ghichu ntext
AS
BEGIN
	INSERT INTO Datphong(Ngaydat,MaNV,CMT,Ghichu) VALUES(CONVERT(datetime,@ngaylap,103),@manv,@cmt,@ghichu)
END

GO
/****** Object:  StoredProcedure [dbo].[THEMDV]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[THEMDV]
@Tendv nvarchar(50),@gia float,@dvt nchar(10),@hinh nvarchar(MAX),@mota ntext
AS
BEGIN
INSERT INTO Dichvu(TenDV,GiaDV,DVT,Hinh,Mota) VALUES(@Tendv,@gia,@dvt,@hinh,@mota)
END

GO
/****** Object:  StoredProcedure [dbo].[THONGKETHANG]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[THONGKETHANG]
@ngay nvarchar(50)
AS

BEGIN
select * from Hoadon where DATEDIFF(MONTH,Ngaylap,convert(datetime,@ngay,103))=0 


END
GO
/****** Object:  StoredProcedure [dbo].[TIENDICHVU]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TIENDICHVU]
@idhd bigint
AS
BEGIN
select TienDV =  SUM(GiaDV * Soluong ) from Chitietdatdichvu,Dichvu where Chitietdatdichvu.IDDAT=@idhd and Dichvu.IDDV=Chitietdatdichvu.IDDV
END

GO
/****** Object:  StoredProcedure [dbo].[TIENPHONG]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TIENPHONG]
@idhd bigint
AS
BEGIN
select Tienphong= SUM(Gia * (DATEDIFF(Day,Ngayden,Ngaydi)) ) from Chitietdatphong,Phong,Loaiphong where Phong.Sophong=Chitietdatphong.Sophong and Phong.Loaiphong=Loaiphong.Loaiphong and Chitietdatphong.IDDAT=@idhd
END

GO
/****** Object:  StoredProcedure [dbo].[TIENTHEOHD]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TIENTHEOHD]
@id bigint
AS
declare @tien1 float,@tien2 float
BEGIN
select @tien1 = SUM(Gia * (DATEDIFF(Day,Ngayden,Ngaydi)) ) from Chitietdatphong,Phong,Loaiphong where Phong.Sophong=Chitietdatphong.Sophong and Phong.Loaiphong=Loaiphong.Loaiphong and Chitietdatphong.IDDAT=@id and Gia is not null
select @tien2 = SUM(GiaDV * Soluong ) from Chitietdatdichvu,Dichvu where Chitietdatdichvu.IDDAT=@id and Dichvu.IDDV=Chitietdatdichvu.IDDV and GiaDV is not null
select tien = @tien1 + @tien2
END

GO
/****** Object:  StoredProcedure [dbo].[TIMKH]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TIMKH] 
@CMT nvarchar(50)
AS
BEGIN
select * from Khachhang where CMT=@CMT
END

GO
/****** Object:  Table [dbo].[Chitietdatdichvu]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chitietdatdichvu](
	[IDDV] [bigint] NOT NULL,
	[IDDAT] [bigint] NOT NULL,
	[Soluong] [int] NOT NULL,
 CONSTRAINT [PK_DetailBillService_1] PRIMARY KEY CLUSTERED 
(
	[IDDV] ASC,
	[IDDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Chitietdatphong]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chitietdatphong](
	[Sophong] [bigint] NOT NULL,
	[IDDAT] [bigint] NOT NULL,
	[Ngayden] [datetime] NOT NULL,
	[Ngaydi] [datetime] NOT NULL,
 CONSTRAINT [PK_DetailBillR] PRIMARY KEY CLUSTERED 
(
	[Sophong] ASC,
	[IDDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Datphong]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datphong](
	[IDDAT] [bigint] IDENTITY(1,1) NOT NULL,
	[Ngaydat] [datetime] NOT NULL,
	[MaNV] [nchar](10) NOT NULL,
	[CMT] [nvarchar](50) NOT NULL,
	[Ghichu] [ntext] NULL,
 CONSTRAINT [PK_BillRoom] PRIMARY KEY CLUSTERED 
(
	[IDDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dichvu]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dichvu](
	[IDDV] [bigint] IDENTITY(1,1) NOT NULL,
	[TenDV] [nvarchar](50) NOT NULL,
	[GiaDV] [float] NOT NULL,
	[DVT] [nchar](10) NOT NULL,
	[Hinh] [nvarchar](max) NOT NULL,
	[Mota] [ntext] NULL,
 CONSTRAINT [PK_Dichvu] PRIMARY KEY CLUSTERED 
(
	[IDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hoadon]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoadon](
	[MaHD] [bigint] IDENTITY(1,1) NOT NULL,
	[Tienphong] [float] NOT NULL,
	[Tiendichvu] [float] NOT NULL,
	[VAT] [float] NOT NULL,
	[Khuyenmai] [float] NULL,
	[Ngaylap] [datetime] NOT NULL,
	[IDDAT] [bigint] NOT NULL,
 CONSTRAINT [PK_Hoadon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Khachhang]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khachhang](
	[CMT] [nvarchar](50) NOT NULL,
	[Hoten] [nvarchar](50) NOT NULL,
	[Ngaysinh] [datetime] NOT NULL,
	[Gioitinh] [bit] NOT NULL,
	[Diachi] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Customer_1] PRIMARY KEY CLUSTERED 
(
	[CMT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Loaiphong]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loaiphong](
	[Loaiphong] [nvarchar](50) NOT NULL,
	[Gia] [float] NOT NULL,
	[Hinhanh] [nvarchar](max) NOT NULL,
	[Mota] [ntext] NOT NULL,
 CONSTRAINT [PK_TypeRoom] PRIMARY KEY CLUSTERED 
(
	[Loaiphong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nhanvien]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhanvien](
	[MaNV] [nchar](10) NOT NULL,
	[Hoten] [nvarchar](50) NOT NULL,
	[Gioitinh] [bit] NOT NULL,
	[SDT] [nvarchar](50) NOT NULL,
	[Hinh] [text] NOT NULL,
	[Ghichu] [ntext] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Phong]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[Sophong] [bigint] NOT NULL,
	[Tinhtrang] [nvarchar](50) NOT NULL,
	[Loaiphong] [nvarchar](50) NOT NULL,
	[Ghichu] [ntext] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[Sophong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 04/09/2020 9:01:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Taikhoan] [nvarchar](50) NOT NULL,
	[MaNV] [nchar](10) NOT NULL,
	[Matkhau] [nvarchar](50) NOT NULL,
	[Nhom] [nchar](10) NOT NULL,
	[Ngaylap] [datetime] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Taikhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Chitietdatphong] ([Sophong], [IDDAT], [Ngayden], [Ngaydi]) VALUES (202, 36, CAST(0x0000AC2C013726B0 AS DateTime), CAST(0x0000AC2E013726B0 AS DateTime))
INSERT [dbo].[Chitietdatphong] ([Sophong], [IDDAT], [Ngayden], [Ngaydi]) VALUES (204, 36, CAST(0x0000AC2C013780EC AS DateTime), CAST(0x0000AC2E013780EC AS DateTime))
INSERT [dbo].[Chitietdatphong] ([Sophong], [IDDAT], [Ngayden], [Ngaydi]) VALUES (205, 36, CAST(0x0000AC2C013750E0 AS DateTime), CAST(0x0000AC2E013750E0 AS DateTime))
SET IDENTITY_INSERT [dbo].[Datphong] ON 

INSERT [dbo].[Datphong] ([IDDAT], [Ngaydat], [MaNV], [CMT], [Ghichu]) VALUES (36, CAST(0x0000AC2B013718A0 AS DateTime), N'AD1       ', N'53453453', N'')
INSERT [dbo].[Datphong] ([IDDAT], [Ngaydat], [MaNV], [CMT], [Ghichu]) VALUES (37, CAST(0x0000AC2B01381818 AS DateTime), N'AD1       ', N'265883232', N'')
SET IDENTITY_INSERT [dbo].[Datphong] OFF
SET IDENTITY_INSERT [dbo].[Dichvu] ON 

SET IDENTITY_INSERT [dbo].[Dichvu] OFF
INSERT [dbo].[Khachhang] ([CMT], [Hoten], [Ngaysinh], [Gioitinh], [Diachi], [SDT]) VALUES (N'123455678', N'sdfs', CAST(0x0000AC240163E1CC AS DateTime), 1, N'gdfg', N'0123456789')
INSERT [dbo].[Khachhang] ([CMT], [Hoten], [Ngaysinh], [Gioitinh], [Diachi], [SDT]) VALUES (N'234567891', N'dsfsd', CAST(0x0000AC2401642F9B AS DateTime), 1, N'ertet', N'0123456789')
INSERT [dbo].[Khachhang] ([CMT], [Hoten], [Ngaysinh], [Gioitinh], [Diachi], [SDT]) VALUES (N'237859820', N'Duong Hung', CAST(0x0000AC2B0132EB37 AS DateTime), 1, N'sdf', N'0987657483')
INSERT [dbo].[Phong] ([Sophong], [Tinhtrang], [Loaiphong], [Ghichu]) VALUES (101, N'Sẵn sàng', N'Phòng đơn', N'')
INSERT [dbo].[Phong] ([Sophong], [Tinhtrang], [Loaiphong], [Ghichu]) VALUES (102, N'Sẵn sàng', N'Phòng đôi', N'')
INSERT [dbo].[Phong] ([Sophong], [Tinhtrang], [Loaiphong], [Ghichu]) VALUES (103, N'Sẵn sàng', N'Phòng đơn', N'')
INSERT [dbo].[TaiKhoan] ([Taikhoan], [MaNV], [Matkhau], [Nhom], [Ngaylap]) VALUES (N'admin123', N'AD1       ', N'123', N'Quản Lý   ', CAST(0x0000AC2700AA9C0B AS DateTime))
INSERT [dbo].[TaiKhoan] ([Taikhoan], [MaNV], [Matkhau], [Nhom], [Ngaylap]) VALUES (N'mytinh', N'NV1       ', N'123', N'Nhân Viên ', CAST(0x0000AC2600000000 AS DateTime))
INSERT [dbo].[TaiKhoan] ([Taikhoan], [MaNV], [Matkhau], [Nhom], [Ngaylap]) VALUES (N'thilan123', N'NV2       ', N'123', N'Nhân Viên ', CAST(0x0000AC2600A34C88 AS DateTime))
ALTER TABLE [dbo].[Chitietdatdichvu]  WITH CHECK ADD  CONSTRAINT [FK_Chitietdatdichvu_Dichvu] FOREIGN KEY([IDDV])
REFERENCES [dbo].[Dichvu] ([IDDV])
GO
ALTER TABLE [dbo].[Chitietdatdichvu] CHECK CONSTRAINT [FK_Chitietdatdichvu_Dichvu]
GO
ALTER TABLE [dbo].[Chitietdatdichvu]  WITH CHECK ADD  CONSTRAINT [FK_DetailBillService_Bill] FOREIGN KEY([IDDAT])
REFERENCES [dbo].[Datphong] ([IDDAT])
GO
ALTER TABLE [dbo].[Chitietdatdichvu] CHECK CONSTRAINT [FK_DetailBillService_Bill]
GO
ALTER TABLE [dbo].[Chitietdatphong]  WITH CHECK ADD  CONSTRAINT [FK_DetailBillR_BillRoom1] FOREIGN KEY([IDDAT])
REFERENCES [dbo].[Datphong] ([IDDAT])
GO
ALTER TABLE [dbo].[Chitietdatphong] CHECK CONSTRAINT [FK_DetailBillR_BillRoom1]
GO
ALTER TABLE [dbo].[Chitietdatphong]  WITH CHECK ADD  CONSTRAINT [FK_DetailBillR_Room] FOREIGN KEY([Sophong])
REFERENCES [dbo].[Phong] ([Sophong])
GO
ALTER TABLE [dbo].[Chitietdatphong] CHECK CONSTRAINT [FK_DetailBillR_Room]
GO
ALTER TABLE [dbo].[Datphong]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Customer] FOREIGN KEY([CMT])
REFERENCES [dbo].[Khachhang] ([CMT])
GO
ALTER TABLE [dbo].[Datphong] CHECK CONSTRAINT [FK_Bill_Customer]
GO
ALTER TABLE [dbo].[Datphong]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Employees] FOREIGN KEY([MaNV])
REFERENCES [dbo].[Nhanvien] ([MaNV])
GO
ALTER TABLE [dbo].[Datphong] CHECK CONSTRAINT [FK_Bill_Employees]
GO
ALTER TABLE [dbo].[Hoadon]  WITH CHECK ADD  CONSTRAINT [FK_Hoadon_Datphong] FOREIGN KEY([IDDAT])
REFERENCES [dbo].[Datphong] ([IDDAT])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [FK_Hoadon_Datphong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_TypeRoom] FOREIGN KEY([Loaiphong])
REFERENCES [dbo].[Loaiphong] ([Loaiphong])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Rooms_TypeRoom]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_Login_Nhanvien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[Nhanvien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_Login_Nhanvien]
GO
